
@{
    ViewData["Title"] = "Error 404";
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
<html>
<head>
    <title>BalimOOn Liqueurs | Page Not Found</title>
    <meta name="keywords" content="404 iphone web template, Android web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <link href="~/lib/404/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <!--Wrapper-->
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <h1>Error Page</h1>
            </div>
        </div>
        <!--start-content------>
        <div class="content">
            <img src="~/lib/404/images/error-img.png" title="404" />
            <p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
            <a asp-controller="Home" asp-action="Index">Back To Home Page</a>
            <div class="copy-right">
                <p>&copy; 2020 BalimOOn Liqueurs</p>
                <p>&copy; 2013 Ohh. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3Layouts</a></p>
            </div>
        </div>
    </div>
</body>
</html>