@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <Center><h1>Manage your account</h1></Center>

<div>
    <center><h4>Change your account settings</h4></center>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
