@model  Balimoon_E_Procurement.Models.BalimoonBML.ViewModel.PurchaseRequestVM
@{
    ViewData["Title"] = "MyReleasePR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BalimOOn Liqueurs - Release</h2>
<section class="content">
    <div class="card">
        <div class="row">
            <div class="col-12">
                <div class="card-header">
                    <h3 class="card-title">MY PR - Release</h3>
                </div>
                <div class="card-body">
                    <table id="tabel5" class="table table-primary">
                        <thead>
                            <tr>
                                <th>PR Id</th>
                                <th>Document No</th>
                                <th>Requester</th>
                                <th>Department</th>
                                <th>Order Date</th>
                                <th>Due Date</th>
                                <th>Notes</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
         $.fn.dataTable.moment("DD/MM/YYYY HH:mm:ss");
        $.fn.dataTable.moment("DD/MM/YYYY");


        $("#tabel5").DataTable({
            //Design Layout
            stateSave: true,
            autoWidth: true,
            scrollX: true,

            //ServerSide
            processing: true,
            serverSide: true,

            //Paging Setup
            paging: true,


            //searching Setup
            searching: { regex: true },

            //ajax Filter
            ajax: {
                url: "/PurchaseRequest/MyReleasePRCode",
                //"dataSrc": '',
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: function (d) {
                    return JSON.stringify(d);
                }
            },

            //column definition
            columnDefs: [
                { targets: "no-sort", orderable: false },
                { targets: "no-search", searchable: false },
                {
                    targets: "trim",
                    render: function (data, type, full, meta) {
                        if (type === "display") {
                            data = strtrunc(data, 10);
                        }
                        return data;
                    }
                },
                { targets: "data-type", type: "date-eu" }
            ],

            columns: [
                { data: "RequisitionHeaderId", name: "RequisitionHeaderId", isIdentity: true, visible: false },
                { data: "RequisitionNo", name: "RequisitionNo" },
                { data: "RequesterId", name: "RequesterId" },
                { data: "ShortcutDimension1Code", name: "ShortcutDimension1Code" },
                {
                    data: "OrderDate", render: function (data, type, row) {
                        if (type === "display" || type === "filter") {
                            return moment(data).format("ddd, DD-MM-YYYY");
                        }
                        return data;
                    }
                },
                {
                    data: "DueDate",
                    render: function (data, type, row) {
                        if (type === "display" || type === "filter") {
                            return moment(data).format("ddd, DD-MM-YYYY");
                        }
                        return data;
                    }
                },
                { data: "RequestNotes", name: "RequestNotes" },

                {
                    render: function (data, type, full, meta) {
                        return "<a href='#' onclick='PRDetails(\"" + full.RequisitionNo + "\")' class='btn btn-outline-info btn-block'><span class='fa fa-eye'> </span></a>";

                    }
                }
            ]
        })
        $(".dataTables_scrollHeadInner").css({ "width": "100%" });
        $(".table ").css({ "width": "100%" });         
    </script>

<script>
    function PRDetails(RequisitionNo) {
        window.location.href = "/PurchaseRequest/MyReleasePRDetail?RequisitionNo=" + RequisitionNo;
    }
</script>
}
