@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Tidak Ada Akses";
}

<header>
    <center><h1 class="text-danger">@ViewData["Title"]</h1></center>
</header>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p>
            <h4>Anda Tidak Mendapatkan Akses Ke halaman Ini..!!!</h4><br />
            <h5>silahkan akses halaman lainnya</h5>
        </p>
    </div>
</div>