@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <center><h1>@ViewData["Title"]</h1></center><hr />
        <h5>
            Please check your email to reset your password.
        </h5>
    </div>
    
</div>


