@model Balimoon_E_Procurement.Models.BalimoonBMI.ViewModel.BMIUserVM
@{
    ViewData["Title"] = "AddApprovalBMI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Add Approval User - Balimoon Indonesia</h2>
<section class="content">
    <div class="card">
        <div class="row">
            <div class="col-12">
                <div class="card-header">
                    <h3 class="card-title">List Of User - Balimoon Indonesia</h3>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <div class="form-group">
                            <table id="tabel5" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>User Id</th>
                                        <th>User Name</th>
                                        <th>Role</th>
                                        <th>Department</th>
                                        <th>Approver</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        //Get User Data To Pass into Tabel
        $.fn.dataTable.moment("DD/MM/YYYY HH:mm:ss");
        $.fn.dataTable.moment("DD/MM/YYYY");

        $("#tabel5").DataTable({
            //Design Layout
            stateSave: true,
            autoWidth: true,


            //ServerSide
            processing: true,
            serverSide: true,

            //Paging Setup
            paging: true,

            //searching Setup
            searching: { regex: true },

            //ajax Filter
            ajax: {
                url: "/BalimoonUser/AddBMIApproval",
                //"dataSrc": '',
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: function (d) {
                    return JSON.stringify(d);
                }
            },

            //column definition
            columnDefs: [

                { targets: "no-sort", orderable: false },
                { targets: "no-search", searchable: false },
                {
                    targets: "trim",
                    render: function (data, type, full, meta) {
                        if (type === "display") {
                            data = strtrunc(data, 10);
                        }
                        return data;
                    }
                },
                { targets: "data-type", type: "date-eu" }
            ],

            columns: [
                { data: "UserId", Name: "UserId", isIdentity: true, visible: false },
                { data: "UserName" },
                { data: "Role" },
                { data: "Department" },
                { data: "Approver"},
                {
                    render: function (data, type, full, meta) {
                        return "<a href='#' onclick='SelectApproval(\"" + full.UserId + "\")' class='btn btn-block btn-outline-primary'><span class='pe-7s-note'> Select Approval</span></a>";

                    }
                }
            ]
        })
        $(".dataTables_scrollHeadInner").css({ "width": "100%" });
        $(".table ").css({ "width": "100%" });

        //Show Pop Up Modal For Detail Form
        function SelectApproval(UserId) {
            var url = "/BalimoonUser/SelectApprovalBMI?UserId=" + UserId;
            $("#ModalTitle").html("Add Approval");
            $("#MyLargeModal").modal();
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#UserId").val(obj.UserId);
                    $("#UserName").val(obj.UserName);
                    $("#Role").val(obj.Role);
                    $("#ApproverId option:selected").text(obj.ApproverId)
                }
            })
        }
         //Update System User Tbl
    $("#UpdateBMIApproval").click(function () {
                var data = $("#SubmitForm").serialize();
                $.ajax({
                    type: "POST",
                    url: "/BalimoonUser/UpdateBMIApproval",
                    data: data,
                    success: function (result) {
                        if (result = "true") {
                            alert("Success...!!");
                            window.location.href = "/BalimoonUser/AddApprovalBMI";
                            $("#MyLargeModal").modal("hide");
                        }
                        else {
                            alert("Failed To Add or Update...!!");
                        }
                       
                    }
                })
        })
    </script>
}
@section Styles{
    <div class="modal fade bd-example-modal-lg" id="MyLargeModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="ModalTitle"></h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(a => a.aspNetSystemUsers.UserId, new { @id = "UserId" })
                            <div class="form-group">
                                <label>User Name</label>
                                @Html.TextBoxFor(a => a.aspNetUsers.UserName, new { @id = "UserName", @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="form-group">
                                <label>Role Name</label>
                                @Html.TextBoxFor(a => a.aspNetRoles.Name, new { @id = "Role", @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div>
                                <label>Department</label>
                                @Html.DropDownListFor(a => a.aspNetSystemUsers.ApproverId, ViewBag.ListOfHOD as SelectList, "", new { @id = "ApproverId", @class = "form-control" })
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="#" class="btn btn-primary" id="UpdateBMIApproval"><span class="pe-7s-upload"> Save</span></a>
                </div>
            </div>
        </div>
    </div>
}